.nav {
  background-color: #f6f6f6;
  height: 50px;
}
.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.nav li {
  margin-right: 60px;
}
.active {
  color: #3b82f6;
}
.nav a {
  text-decoration: none;
  font-size: 23px;
  display: flex;
}
.nav a:hover {
  color: rgb(241, 83, 247);
}
.nav span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(218, 58, 98);
  padding: 2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 18px;
  color: #f6f6f6;
}
