.productList {
  display: grid;
  grid-template-columns: repeat(3, 380px);
  margin-top: 50px;
  margin-bottom: 30px;
}
.product{
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: #f6f6f6;
}
.productImg img {
  width: 100%;
  height: auto;
}
.container{
  display: flex;
  justify-content: center;
}
.productDetails{
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

button:disabled{
  cursor: not-allowed;
  background-color: #ccc;
  width: 100%;
  color: #aaa;
  padding: 8px 16px;
  border-radius: 6px;
  width: 60%;
}
.btn{
  background-color: #3b82f6;
  width: 100%;
  color: #e4e4e7;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  width: 60%;
}